
.custom-width-first {
  width: 100% !important;
  max-width: 234px !important;
}


.custom-width-middle{
  width: 100%;
  max-width: 1142px !important;
  
 
}

.custom-width-last{
  width: 100%;
 
  max-width: 434px !important;
}



.name-side{
  
  font-size: 14px;
  padding-left: 29px;
  
}
.li-side{
  list-style-type: none;
  cursor: pointer;
 gap: 10px !important;
 
  padding: 10px 5px;
  font-size: 16px;
  margin-bottom: 4px;
}

.btn-active{
color: #008767 !important;
background-color: #16C098 !important;
border:1px solid  #008767 !important;
padding: 4px 12px;
border-radius:20px !important;

}

.btn-danger{
  color: #870000 !important;
  background-color: #c01616 !important;
  border:1px solid  #870000 !important;
  padding: 4px 12px;
  border-radius:20px !important;
}



.broker-content {
  display: flex !important;
  flex-direction: row;
  padding: 10px 33px;
  justify-content: center;
  align-items: center;
  margin: 10px 11px;
  gap: 16px;
}

.broker-content span{
 
  font-size: 14px;
}

.broker-content strong{
  
  font-size: 16px;
}

.drag-area {
  border: 1px solid #D3D3D3;
  padding: 40px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.drag-area h3{
  color: #D3D3D3;
}

.drag-over {
  background-color: #e9ecef;
}

.control-overwidth{
  width: 100% !important;
  gap: 20px;
}

.btn-grey{
 
  border: none;
  color: var(--dark-grey);
  padding: 8px 16px !important;
  border-radius: 15px;
  font-size: 16px;
}

.btn-grey-padding{
  border: none;
  color: var(--dark-grey);
  padding: 4px 7px !important;
  border-radius: 15px;
  font-size: 16px;
  background-color: #d9d9d9;
}

.cust-name h3{
  font-weight: 600;
  font-size: 16px;
}

.cust-name span{
  font-size: 14px;
}

.font-given-14{
  font-size: 14px;
  font-weight: 400;
}

.font-given-16{
  font-size: 16px;
  font-weight: 600;

}

.button-padding {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 15px;
}
.buttonPressed{
 padding: 5px 10px;
  margin-right: 10px;
  background-color: #cccccc;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 15px;
}

.profile-data {
 
  width: 150px;
  height: 150px;
  margin-bottom: 38px;
  background-position: center;
  background-size: cover;
 
}

.viewcustomer-get{
  display: flex;
  flex-direction: row;
}

.str-bold-h{
  font-weight: bold;
}

.btn-green{
  background-color: #008766;
  color: white;
  padding: 5px 51px;
  border: none;
}
.ftss{
  background-color: rgb(245, 245, 245) !important;
   
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 2px solid rgb(197, 197, 197) !important;
    border-radius: 0px !important;
    margin: 10px 0px;
}

.ftss-pp{
  background-color: rgb(245, 245, 245) !important;
   
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid rgb(197, 197, 197) !important;
  border-left: 1px solid rgb(197, 197, 197) !important;
  border-radius: 0px !important;
  margin: 10px 0px;
}


@media screen and (max-width:992px) {
  #root > div > div > div > div > form > div > div > div.col-md-6.col-lg-6.col-12.py-4 > div.col-12 > div > div > div > div > div{
  flex-direction: column;
  
  }
  #root > div > div > div > div > form > div > div > div.col-md-6.col-lg-6.col-12.py-4 > div.col-12 > div > div > div > div > div{
    display: flex;
    gap: 20px;
    align-items: start !important;
    justify-content: start !important;
  }
  #root > div > div > div > div > form > div > div{
    flex-direction: column;
  }
  .viewcustomer-get{
    flex-direction: column;
    gap: 14px;
    padding: 0px !important;
  }
  #root > div > div.full-width-screen.padding-given > div > div > div{
  
      display: flex;
      flex-direction: column !important;
      gap: 14px;
  
  }
  #root > div > div > div > div > form > div > div > div.col-md-6.col-lg-6.col-12.py-4{
    width: 100% !important;
  }
  #root > div > div > div > div > form > div > div > div > div > div > div > div > div > div{
    display: flex;
    align-items: start !important;
    gap: 14px !important;
    /* justify-content: space-between; */
    flex-direction: column !important;

  }
  #root > div > div > div > div > form > div > div > div.container > div{
    flex-direction: column !important;
  }
  .form-group select{
width: 100% !important;
  }
  #root > div > div.full-width-screen.padding-given > div > div > div > div{
    flex-direction: column;
  }
  #root > div > div.flex-grow-1 > div > div > div.container.mt-5 > div > div > div > div{
   
      flex-direction: column !important;
      gap: 14px;
  
  }

}